<%- include('header') %>
<%- include('sidemenu') %>
<div class="page-single-pick">
  <!--Swiper-slider-->
  <div class="swiper-container">
    <div class="swiper-wrapper">
    </div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <!--Overslide info holder-->
    <div class="slider-info-holder">
      <div class="quote" style="display:none;">
        <svg class="quote-img" xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
          <path fill="#fff" d="M.8 16v-1.2c1.6-.6 2.84-1.55 3.76-2.84.9-1.3 1.37-2.66 1.37-4.06
                0-.3-.05-.53-.14-.67-.06-.1-.12-.15-.2-.15s-.2.06-.37.17c-.5.37-1.1.55-1.86.55-.9
                0-1.68-.37-2.36-1.1-.66-.75-1-1.63-1-2.66 0-1.06.4-2 1.16-2.82S2.9 0 4.02 0c1.3 0 2.4.55 3.36 1.65.96
                1.1 1.43 2.58 1.43 4.43 0 2.14-.63 4.06-1.92 5.78-1.28 1.7-3.3 3.1-6.1 4.13zm11.18 0v-1.2c1.6-.6 2.85-1.55
                3.76-2.84.92-1.3 1.38-2.66 1.38-4.06 0-.3-.05-.53-.14-.67-.05-.1-.1-.15-.2-.15-.07
                0-.2.06-.36.17-.5.37-1.12.55-1.86.55-.9 0-1.7-.37-2.36-1.1-.68-.75-1-1.63-1-2.66 0-1.07.37-2
                1.15-2.82C13.12.42 14.08 0 15.2 0c1.3 0 2.42.55 3.37 1.65.95 1.1 1.43 2.58 1.43 4.43 0 2.14-.64 4.06-1.93
                5.78-1.3 1.7-3.32 3.1-6.1 4.13z"/>
        </svg>
        <span></span>
      </div>
      <div class="rating-container">
        <div class="rating-title"><%=lang.lRatingTitle%></div>
        <svg class="rating-star one" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
          <path fill="#B3B3B3" d="M7.5 0l2.3 5 5.2.7-3.7 4L12 15l-4.5-2.6L3 15l.8-5.4-3.8-4L5.2 5"/>
        </svg>
        <svg class="rating-star two" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
          <path fill="#B3B3B3" d="M7.5 0l2.3 5 5.2.7-3.7 4L12 15l-4.5-2.6L3 15l.8-5.4-3.8-4L5.2 5"/>
        </svg>
        <svg class="rating-star three" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
          <path fill="#B3B3B3" d="M7.5 0l2.3 5 5.2.7-3.7 4L12 15l-4.5-2.6L3 15l.8-5.4-3.8-4L5.2 5"/>
        </svg>
        <svg class="rating-star four" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
          <path fill="#B3B3B3" d="M7.5 0l2.3 5 5.2.7-3.7 4L12 15l-4.5-2.6L3 15l.8-5.4-3.8-4L5.2 5"/>
        </svg>
        <svg class="rating-star five" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
          <path fill="#B3B3B3" d="M7.5 0l2.3 5 5.2.7-3.7 4L12 15l-4.5-2.6L3 15l.8-5.4-3.8-4L5.2 5"/>
        </svg>
      </div>
    </div>

  </div>

  <div class="tag-place-container slider">
    <div class="tag-place" data-id="17" style="text-transform: capitalize">united states</div>
    <div class="tag-place" data-id="17" style="text-transform: capitalize">united states</div>
    <div class="tag-place" data-id="17" style="text-transform: capitalize">united states</div>
    <div class="tag-place" data-id="17" style="text-transform: capitalize">united states</div>
    <div class="tag-place" data-id="17" style="text-transform: capitalize">united states</div>
  </div>


  <div class="user-controls">
    <div class="control-btn previous-user">
      <svg class="backwards-ico" style="position: absolute" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 32.566 33"><title>in-back</title><polygon stroke-width="2" points="16.283 32.5 0.5 16.5 16.283 0.5 16.283 32.5" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><polygon points="32.066 32.5 16.283 16.5 32.066 0.5 32.066 32.5" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
    </div>
    <div class="control-btn next-user">
      <svg class="forwards-ico" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 32.566 33"><title>in-forward</title><polygon stroke-width="2" points="16.283 0.5 32.066 16.5 16.283 32.5 16.283 0.5" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><polygon points="0.5 0.5 16.283 16.5 0.5 32.5 0.5 0.5" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
      Next traveler
    </div>
  </div>

  <div class="menu">
    <a href="#" class="menu-item profile check-auth">
      <div class="icon-holder">
        <svg xmlns="http://www.w3.org/2000/svg" width="35.209" height="33" viewBox="0 0 35.209 33"><title>in-profile</title><path d="M27.261,32.5V30.034a5.245,5.245,0,0,0-2.736-4.608l-5.19-2.832a1.537,1.537,0,0,1-.8-1.35V19.318a12.181,12.181,0,0,0,2.037-4.21,2.307,2.307,0,0,0,.872-1.809V10.971a2.315,2.315,0,0,0-.583-1.525V6.35a5.2,5.2,0,0,0-1.216-3.8C18.448,1.19,16.511.5,13.88.5s-4.568.69-5.764,2.054A5.2,5.2,0,0,0,6.9,6.35v3.1a2.315,2.315,0,0,0-.583,1.525V13.3a2.307,2.307,0,0,0,.872,1.809,12.181,12.181,0,0,0,2.037,4.21v1.926a1.537,1.537,0,0,1-.8,1.35l-5.19,2.832A5.245,5.245,0,0,0,.5,30.034V32.5H27.235" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.43,3.779a8.617,8.617,0,0,1,2.18-.291c6.872.058,7.1,7.017,7.106,7.088.079,4.091,2.611,8.128,3.7,9.671a1.728,1.728,0,0,1-.722,2.577,6.738,6.738,0,0,1-2.886.392l-3.8,0a1.182,1.182,0,0,0,.41.449l5.687,2.46a4.7,4.7,0,0,1,2.608,4.222V32.5H27.261" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><line x1="27.261" y1="32.5" x2="27.235" y2="32.5" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </div>
      <div class="menu-item-text"><%=lang.lMenuProfile%></div>
    </a>
    <div class="vert-divider"></div>
    <div class="menu-item active index">
      <div class="icon-holder">
        <svg xmlns="http://www.w3.org/2000/svg" width="31.508" height="30.166" viewBox="0 0 31.508 30.166"><title>in-following</title><circle cx="26.166" cy="24.823" r="4.843" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.339,25.114a5.516,5.516,0,0,1,.924-3.06l-2.6-1.417a1.4,1.4,0,0,1-.73-1.23V17.651a11.1,11.1,0,0,0,1.857-3.837,2.1,2.1,0,0,0,.795-1.649V10.044a2.11,2.11,0,0,0-.531-1.39V5.831a4.742,4.742,0,0,0-1.108-3.459C16.858,1.129,15.093.5,12.7.5s-4.163.629-5.253,1.872A4.74,4.74,0,0,0,6.334,5.831V8.654a2.11,2.11,0,0,0-.531,1.39v2.121A2.1,2.1,0,0,0,6.6,13.814a11.1,11.1,0,0,0,1.857,3.837v1.755a1.4,1.4,0,0,1-.73,1.23l-4.73,2.581A4.78,4.78,0,0,0,.5,27.418v2.248H21.721A5.545,5.545,0,0,1,19.339,25.114Z" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><line x1="26.166" y1="21.785" x2="26.166" y2="27.861" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/><line x1="23.128" y1="24.823" x2="29.203" y2="24.823" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </div>
      <div class="menu-item-text">Follow</div>
    </div>
    <div class="vert-divider"></div>
    <div class="menu-item index">
      <div class="icon-holder">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33"><title>in-chat</title><path d="M.5,16.088a15.71,15.71,0,0,1,31.418,0,15.424,15.424,0,0,1-2.253,8.049L32.5,32.5l-8.7-2.764A15.735,15.735,0,0,1,.5,16.088Z" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd"/></svg>
      </div>
      <div class="menu-item-text">Message</div>
    </div>
  </div>

  <div class="form-body pick-filter on-page">

    <!--<div class="info-ribbon-container">
      <div class="info-ribbon">
        <%=lang.lInfoRibbon%>
      </div>
    </div>-->
    <div class="select-title">
      find your fellow traveler</div>
    <div class="input-range-wrapper">
      <div class="input-title">Age</div>
      <input name="ageFrom" class="age-input from-age">
      <div class="dash"></div>
      <input name="ageTo" class="age-input to-age">
    </div>
    <div id="ageSlider2" class="slider-ui"></div>
    <!--<div class="status-check">
      <div class="status-check-title">
        Gender:
      </div>
      male
      <div class="check-container">
        <input name="male" value="2" type="checkbox" id="lookMale_pick_modal">
        <label for="lookMale_pick_modal">
          <i class="ico check-img"></i>
        </label>
      </div>
      female
      <div class="check-container">
        <input name="female" value="1" type="checkbox" id="lookFemale_pick_modal">
        <label for="lookFemale_pick_modal">
          <i class="ico check-img"></i>
        </label>
      </div>
    </div>-->
    <div class="select-gender true-select-gender">
      <div class="gender-container active" data-val="1">
        <svg xmlns="http://www.w3.org/2000/svg" width="25.69" height="33" viewBox="0 0 25.69 33"><title>in-female</title><path d="M25.1,31.186a13.549,13.549,0,0,0-7.421-6.751V22.479c1.6-.088,4.611-.494,6.378-2.3a.922.922,0,0,0,.23-.873.912.912,0,0,0-.637-.643c-.027-.007-2.356-.806-1.889-5.573a20.706,20.706,0,0,0-.095-5.43,8.261,8.261,0,0,0-1.8-4.2,4.816,4.816,0,0,0-3.724-1.6h-.176A5.683,5.683,0,0,0,12.2.5a7.76,7.76,0,0,0-2.8.555l-.041.014A6.939,6.939,0,0,0,6,3.473c-1.388,1.842-2.052,4.57-1.971,8.1s-.5,5.275-1,6.108c-.413.684-.806.819-.907.846a.832.832,0,0,0-.8.447.924.924,0,0,0,.088.989,4.816,4.816,0,0,0,1.7,1.374,11.205,11.205,0,0,0,4.868,1.185v1.862A13.612,13.612,0,0,0,.59,31.193.909.909,0,0,0,1.409,32.5H24.282a.912.912,0,0,0,.772-.426.938.938,0,0,0,.047-.887Z" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
        She
      </div>
      <div class="gender-container" data-val="2">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.837" height="33" viewBox="0 0 28.837 33"><title>in-male</title><path d="M8.93,21.255v2.1A15.347,15.347,0,0,0,.6,31.027,1.025,1.025,0,0,0,1.525,32.5H27.313a1.028,1.028,0,0,0,.87-.481,1.057,1.057,0,0,0,.053-1h0a15.276,15.276,0,0,0-8.367-7.611V21.2l0-1.422c.261-.581,1.763-1.214,1.927-1.9.953-.343,1.475-1.743,1.825-2.98.469-1.646.417-2.8-.134-3.442.581-3.166.321-5.5-.767-6.936a3.413,3.413,0,0,0-1.691-1.214,6.243,6.243,0,0,0-2.064-1.8A7.344,7.344,0,0,0,15.155.5c-.253,0-.506.015-.73.03A6.99,6.99,0,0,0,12.57.88c-.008,0-.015.008-.023.008a8.252,8.252,0,0,0-1.959,1A10.345,10.345,0,0,0,8.629,3.51a8.148,8.148,0,0,0-2.19,3.852,7.243,7.243,0,0,0-.075,3.457,1.727,1.727,0,0,0-.358.343c-.514.678-.536,1.743-.082,3.36a5.253,5.253,0,0,0,1.438,2.771A11.177,11.177,0,0,0,8.93,20.2Z" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
        He
      </div>
    </div>

    <div class="select-gender want-lives">
      <div class="gender-container active" data-val="1">
        <svg xmlns="http://www.w3.org/2000/svg" width="36.072" height="33" viewBox="0 0 36.072 33"><title>in-want-to-visit</title><path d="M34.349,12.476A3.153,3.153,0,0,0,35.5,9.508,3.156,3.156,0,0,0,32.76,7.89a9.357,9.357,0,0,0-4.329.474L23.847,9.954,12.508.666a.624.624,0,0,0-.654-.126L8.187,1.81a.665.665,0,0,0-.426.437.724.724,0,0,0,.1.623l7.189,10.135L7.634,15.579,4.387,12.74a.447.447,0,0,0-.145-.093.67.67,0,0,0-.528-.042l-2.758.973a.724.724,0,0,0-.407.4.64.64,0,0,0,.034.565l3.093,6,1.289,6.63a.763.763,0,0,0,.341.475l.039.019a.667.667,0,0,0,.527.041l2.75-.953a.655.655,0,0,0,.445-.524l.792-4.239,7.42-2.573.629,12.411a.592.592,0,0,0,.256.506.475.475,0,0,0,.126.085.605.605,0,0,0,.421.062l3.369-.654a.653.653,0,0,0,.54-.525l3.425-14.924,4.612-1.6a9.368,9.368,0,0,0,3.693-2.308Zm0,0" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
        Wants to visit
      </div>
      <div class="gender-container" data-val="2">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.574" height="33" viewBox="0 0 28.574 33"><title>in-lives-in</title><path d="M14.64,14.555h-.326v.167h.076s0,.038.012.083l.2-.019.125-.076.034-.155.163-.016.061-.132-.148-.031-.129,0Zm0,0" fill="#666" stroke="#373737" stroke-miterlimit="10"/><path d="M13.852,14.851l.239-.019.022-.167-.144-.11-.1.133Zm0,0" fill="#666" stroke="#373737" stroke-miterlimit="10"/><path d="M4.06,15.655a12.26,12.26,0,0,0-.827,4.423,12.422,12.422,0,0,0,24.495,2.911c.057-.246.107-.489.152-.738a12.41,12.41,0,0,0,.193-2.173c0-.042,0-.083,0-.125h0c0-.364-.022-.724-.057-1.08a12.268,12.268,0,0,0-.822-3.381l-.091-.239a12.565,12.565,0,0,0-2.331-3.6c-.065-.069-.129-.133-.194-.2-.185-.19-.371-.376-.568-.554a12.362,12.362,0,0,0-8.355-3.24,12.038,12.038,0,0,0-1.342.08" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.775,27.266a12.705,12.705,0,0,0,1.953-4.277c.065-.245.107-.489.152-.738a12.41,12.41,0,0,0,.193-2.173c0-.042,0-.083,0-.125h0c0-.364-.022-.724-.057-1.08a12.268,12.268,0,0,0-.822-3.381l-.091-.239a12.565,12.565,0,0,0-2.331-3.6c-.065-.069-.129-.133-.194-.2-.185-.19-.371-.376-.568-.554l-.827.63-.137.243-.527.209-.219.239.05.28.273.038.163.41.466-.19.08.546h-.14l-.387-.053-.424.069-.413.583-.587.1-.087.5.25.061-.073.326-.587-.117-.539.117-.11.3.091.629.314.148.531,0,.356-.034.11-.284.553-.724.372.076.36-.326.069.254.887.6-.107.148-.4-.023.156.22.246.052.288-.121,0-.348.129-.06-.1-.111-.6-.333-.155-.441h.493l.155.156.429.367.015.443.44.471.167-.644.3-.167.056.527.3.326.591-.012c.117.3.22.6.312.906l-.065.056h-.909l-.554-.412-.583.056v.356H24.29l-.2-.144-1.008-.254v-.652l-1.281.1-.394.213H20.9l-.25-.027-.617.345v.64l-1.259.909.106.391h.254l-.068.372-.179.064-.008.967,1.088,1.243h.475l.03-.076h.849l.246-.227h.485l.265.265.72.076-.1.956.8,1.41-.421.807.027.378.333.33v.914l.437.583v.759h1.655Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.968,22.159l-1.005-.008-.8-.3-.038-.569-.265-.467-.721-.012-.416-.651-.368-.179-.019.2-.671.042-.246-.345-.7-.141-.579.668-.91-.156-.064-1.023L9.5,19.1l.266-.5-.076-.292-.872.584-.549-.069-.2-.428.121-.443.3-.557.694-.353h1.346l0,.413.485.224-.042-.7.348-.348.706-.463.049-.326.7-.728.747-.413-.065-.052.5-.478.185.049.083.107.193-.213.046-.019-.212-.03-.213-.068v-.209l.114-.091h.25l.114.05.1.2.121-.016v-.018l.034.012.348-.053.049-.175.2.049v.185l-.186.129.027.2.633.2v.008L16,14.45l.007-.278-.5-.227-.027-.133.417-.14.016-.4L15.477,13l-.026-.671-.6.3h-.216l.057-.512-.815-.193-.334.254v.773l-.607.193-.239.5-.261.042v-.644l-.569-.08-.284-.185-.114-.417,1.015-.595.5-.151.049.337.277-.018.023-.167.287-.042.008-.057-.125-.052-.03-.179.356-.03.216-.224.012-.015h0l.064-.069.75-.09.33.28-.868.462,1.1.262.145-.372h.485l.171-.322-.342-.083v-.41l-1.072-.474-.739.087-.413.215.026.531-.436-.064-.068-.3.42-.379-.5-.022c-.087.129-.193.247-.288.372l-.053.265-.163.012a8.43,8.43,0,0,1-1.9,1.721c-.08.125-.163.262-.25.4l.115.027-.1.364-.292.091-.008-.019c-.617,1.034-1.262,2.172-1.5,2.608l-.656,1.182-.876,1.573.073.115,1,.246v-.163l.4.057-.038.284.311.057.485.132.683.777.871.065.083.712-.595.417-.031.633-.083.39.861,1.081.065.367s.314.087.352.087.7.5.7.5v1.952l.235.068-.159.9.4.531-.076.891.527.925.674.587.678.016.069-.22-.5-.416.03-.209.087-.258.019-.258-.338-.011-.171-.213.28-.273.038-.2-.311-.091.018-.189.443-.069.679-.326.227-.416.712-.906-.163-.712.22-.379.652.019.44-.349.144-1.372.489-.617.083-.4-.443-.144Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.289,12.016l-.178-.076A5.963,5.963,0,0,1,6.117.508C6.236.5,6.355.5,6.469.5A5.961,5.961,0,0,1,9.326,11.691l-.194.109L9,11.991c-.609.91-1.435,2.311-2.019,3.331A35.318,35.318,0,0,0,4.42,12.16Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.538,6.349A3.075,3.075,0,1,1,6.465,3.272,3.074,3.074,0,0,1,9.538,6.349Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/></svg>
        Lives in
      </div>
    </div>

    <p class="title-for-tags">
      Popular places
    </p>
    <div class="tag-place-container">
      <div class="tag-place">Thailand</div>
      <div class="tag-place">Egypt</div>
      <div class="tag-place">USA</div>
      <div class="tag-place">Poland</div>
    </div>

    <div class="wtv-container country-old" style="padding: 0 10px;">
      <svg class="search__icosearch " xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24.88 24.88">
        <path fill="gray" d="M24.66,23.61l-6-6a10.62,10.62,0,1,0-1,1l6,6a.75.75,0,0,0,.52.22.73.73,0,0,0,.52-.22.75.75,0,0,0,0-1Zm-23.18-13a9.12,9.12,0,1,1,9.12,9.12,9.13,9.13,0,0,1-9.12-9.12Zm0,0"></path>
      </svg>
      <div id="country-to-visit" style="display: none;"></div>
      <input id="place-visit" style=" width: 100%" type="text" placeholder="Places...">
      <svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="gray" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg>
    </div>
    <div class="tag-place-container">
      <div class="tag-place">Thailand<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">Egypt<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">USA<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">Poland<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">Thailand<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">Egypt<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">USA<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">Poland<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
      <div class="tag-place">Thailand<svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg></div>
    </div>

    <!--<div class="status-check">
      <div class="status-check-title">Location</div>
      <select name="residence" class="one-option-select chosen-select-residence-pick">
        <option class="one-option-item" value="">&#45;&#45; Choose &#45;&#45;</option>
        <% city.forEach(function(row){ %>
        <option class="one-option-item" value="<%= row.paramId %>"><%= row.paramName %></option>
        <% }); %>
      </select>
    </div>-->

    <!--<div class="status-check">
      <div class="status-check-title">
        <%=lang.lCheckOnlyOnline%>
      </div>
      <div class="check-container">
        <input name="online" value="1" type="checkbox" id="isOnline_pick_modal">
        <label for="isOnline_pick_modal">
          <i class="ico check-img"></i>
        </label>
      </div>
    </div>-->
    <button class="search-button">Search</button>
    <!--<a href="#" class="login-link">Log in</a>
    <div class="vert-divider"></div>
    <a href="#" class="registration-link">Sign up</a>-->
  </div>

  <!--<div class="gifts">
	<div class="gift-container empty">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
        <g fill="#b3b3b3">
          <path d="M6.54 16.9l-.92-1.45-1.9.26 2.46-4.47H1.33V23H9.7V11.4l-3.15 5.5zM19.98 5.63h-5.45c.5
                        0 1-.47 1.34-.78.4-.36.73-.8.88-1.3.2-.7.14-1.57-.24-2.2C16 .5 15.18.03 14.2.03c-.76
                        0-1.45.26-2.05.66-.9.6-2.14 3-2.16 3.03-.2-.38-.4-1.15-.65-1.5-.42-.6-.93-1.13-1.52-1.53C7.23.3
                        6.53.04 5.8.04c-.75 0-1.43.32-1.94.8-.72.68-1.08 2.13-.72 3.05.3.72.98 1.73 1.87
                        1.73H0v5.04h9.15V5.63h1.68v5.04h9.16l-.02-5.04zM5.34 4.45c-.6-.38-1.15-1.1-.9-1.83.22-.67.92-1.03
                        1.6-.94.45.06.94.23 1.28.54.38.35.67.83.93 1.28.14.26.28.52.4.8.22.4.4.8.5
                        1.24-1.9-.2-3.1-.65-3.82-1.1zM11.7 3.4c.23-.4.5-.76.83-1.05.43-.4 1-.64 1.6-.63 1.06.02 1.76 1
                        1.07 1.9-.73 1-2.1 1.43-3.22 1.73-.12.03-1.15.2-1.17.27.18-.73.47-1.53.9-2.23zM16.3
                        15.7l-1.9-.3-.97 1.5-3.16-5.43V23h8.37V11.22h-4.82l2.47 4.46z"></path>
        </g>
      </svg>
    </div>
	
	<div class="gift-container empty">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
        <g fill="#b3b3b3">
          <path d="M6.54 16.9l-.92-1.45-1.9.26 2.46-4.47H1.33V23H9.7V11.4l-3.15 5.5zM19.98 5.63h-5.45c.5
                        0 1-.47 1.34-.78.4-.36.73-.8.88-1.3.2-.7.14-1.57-.24-2.2C16 .5 15.18.03 14.2.03c-.76
                        0-1.45.26-2.05.66-.9.6-2.14 3-2.16 3.03-.2-.38-.4-1.15-.65-1.5-.42-.6-.93-1.13-1.52-1.53C7.23.3
                        6.53.04 5.8.04c-.75 0-1.43.32-1.94.8-.72.68-1.08 2.13-.72 3.05.3.72.98 1.73 1.87
                        1.73H0v5.04h9.15V5.63h1.68v5.04h9.16l-.02-5.04zM5.34 4.45c-.6-.38-1.15-1.1-.9-1.83.22-.67.92-1.03
                        1.6-.94.45.06.94.23 1.28.54.38.35.67.83.93 1.28.14.26.28.52.4.8.22.4.4.8.5
                        1.24-1.9-.2-3.1-.65-3.82-1.1zM11.7 3.4c.23-.4.5-.76.83-1.05.43-.4 1-.64 1.6-.63 1.06.02 1.76 1
                        1.07 1.9-.73 1-2.1 1.43-3.22 1.73-.12.03-1.15.2-1.17.27.18-.73.47-1.53.9-2.23zM16.3
                        15.7l-1.9-.3-.97 1.5-3.16-5.43V23h8.37V11.22h-4.82l2.47 4.46z"></path>
        </g>
      </svg>
    </div>


    <div class="gift-container empty">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
        <g fill="#b3b3b3">
          <path d="M6.54 16.9l-.92-1.45-1.9.26 2.46-4.47H1.33V23H9.7V11.4l-3.15 5.5zM19.98 5.63h-5.45c.5
                        0 1-.47 1.34-.78.4-.36.73-.8.88-1.3.2-.7.14-1.57-.24-2.2C16 .5 15.18.03 14.2.03c-.76
                        0-1.45.26-2.05.66-.9.6-2.14 3-2.16 3.03-.2-.38-.4-1.15-.65-1.5-.42-.6-.93-1.13-1.52-1.53C7.23.3
                        6.53.04 5.8.04c-.75 0-1.43.32-1.94.8-.72.68-1.08 2.13-.72 3.05.3.72.98 1.73 1.87
                        1.73H0v5.04h9.15V5.63h1.68v5.04h9.16l-.02-5.04zM5.34 4.45c-.6-.38-1.15-1.1-.9-1.83.22-.67.92-1.03
                        1.6-.94.45.06.94.23 1.28.54.38.35.67.83.93 1.28.14.26.28.52.4.8.22.4.4.8.5
                        1.24-1.9-.2-3.1-.65-3.82-1.1zM11.7 3.4c.23-.4.5-.76.83-1.05.43-.4 1-.64 1.6-.63 1.06.02 1.76 1
                        1.07 1.9-.73 1-2.1 1.43-3.22 1.73-.12.03-1.15.2-1.17.27.18-.73.47-1.53.9-2.23zM16.3
                        15.7l-1.9-.3-.97 1.5-3.16-5.43V23h8.37V11.22h-4.82l2.47 4.46z"></path>
        </g>
      </svg>
    </div>

    <div class="gift-container empty">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
        <g fill="#b3b3b3">
          <path d="M6.54 16.9l-.92-1.45-1.9.26 2.46-4.47H1.33V23H9.7V11.4l-3.15 5.5zM19.98 5.63h-5.45c.5
                        0 1-.47 1.34-.78.4-.36.73-.8.88-1.3.2-.7.14-1.57-.24-2.2C16 .5 15.18.03 14.2.03c-.76
                        0-1.45.26-2.05.66-.9.6-2.14 3-2.16 3.03-.2-.38-.4-1.15-.65-1.5-.42-.6-.93-1.13-1.52-1.53C7.23.3
                        6.53.04 5.8.04c-.75 0-1.43.32-1.94.8-.72.68-1.08 2.13-.72 3.05.3.72.98 1.73 1.87
                        1.73H0v5.04h9.15V5.63h1.68v5.04h9.16l-.02-5.04zM5.34 4.45c-.6-.38-1.15-1.1-.9-1.83.22-.67.92-1.03
                        1.6-.94.45.06.94.23 1.28.54.38.35.67.83.93 1.28.14.26.28.52.4.8.22.4.4.8.5
                        1.24-1.9-.2-3.1-.65-3.82-1.1zM11.7 3.4c.23-.4.5-.76.83-1.05.43-.4 1-.64 1.6-.63 1.06.02 1.76 1
                        1.07 1.9-.73 1-2.1 1.43-3.22 1.73-.12.03-1.15.2-1.17.27.18-.73.47-1.53.9-2.23zM16.3
                        15.7l-1.9-.3-.97 1.5-3.16-5.43V23h8.37V11.22h-4.82l2.47 4.46z"></path>
        </g>
      </svg>
    </div>

    <div class="gift-container empty">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
        <g fill="#b3b3b3">
          <path d="M6.54 16.9l-.92-1.45-1.9.26 2.46-4.47H1.33V23H9.7V11.4l-3.15 5.5zM19.98 5.63h-5.45c.5
                        0 1-.47 1.34-.78.4-.36.73-.8.88-1.3.2-.7.14-1.57-.24-2.2C16 .5 15.18.03 14.2.03c-.76
                        0-1.45.26-2.05.66-.9.6-2.14 3-2.16 3.03-.2-.38-.4-1.15-.65-1.5-.42-.6-.93-1.13-1.52-1.53C7.23.3
                        6.53.04 5.8.04c-.75 0-1.43.32-1.94.8-.72.68-1.08 2.13-.72 3.05.3.72.98 1.73 1.87
                        1.73H0v5.04h9.15V5.63h1.68v5.04h9.16l-.02-5.04zM5.34 4.45c-.6-.38-1.15-1.1-.9-1.83.22-.67.92-1.03
                        1.6-.94.45.06.94.23 1.28.54.38.35.67.83.93 1.28.14.26.28.52.4.8.22.4.4.8.5
                        1.24-1.9-.2-3.1-.65-3.82-1.1zM11.7 3.4c.23-.4.5-.76.83-1.05.43-.4 1-.64 1.6-.63 1.06.02 1.76 1
                        1.07 1.9-.73 1-2.1 1.43-3.22 1.73-.12.03-1.15.2-1.17.27.18-.73.47-1.53.9-2.23zM16.3
                        15.7l-1.9-.3-.97 1.5-3.16-5.43V23h8.37V11.22h-4.82l2.47 4.46z"></path>
        </g>
      </svg>
    </div>

  </div>-->

</div>
<div class="page-login-register">
  <div class="form-body pick-filter">
    <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="187" height="auto" viewBox="0 0 916.183 325.853"><title>logo</title><path d="M137.6,246.023" fill="#ea6a6a" stroke="#ea6a6a" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><path d="M319.994,116.753a206.737,206.737,0,0,1-3.766,24.607C294.643,230.8,267.472,290.452,243.548,300.94l-.062.027c-23.949,10.462-86.215-9.983-166.581-54.689C37.68,224.453,6.639,180.567,25.711,131.717A88,88,0,0,1,139.7,81.746a10.04,10.04,0,0,0,12.982-5.692A88,88,0,0,1,266.665,26.086c20.557,8.026,34.432,21.992,42.85,38.716L327.7,56.716A98.928,98.928,0,0,0,273.939,7.455,108.024,108.024,0,0,0,137.913,60.029,108.159,108.159,0,0,0,7.082,124.444C-3.283,150.989-2.253,178.8,10.06,204.859c11.206,23.719,31.492,44.636,57.123,58.9C91.2,277.119,127,295.727,161.135,308.49c27.119,10.141,49.1,15.184,66.4,15.184,9.343,0,17.323-1.471,24.012-4.4l.076-.033c19.058-8.381,36.488-32.515,53.286-73.776,13.738-33.745,24.31-72.684,30.76-99.407a147.828,147.828,0,0,0,4.168-36.913Z" fill="#ea6a6a"/><path d="M237.261,126.612c-9.324,3.938-19.374,8.406-29.862,13.4-45.03,21.46-107.635,57.374-150.164,106.6-19.329,22.374-27.6,40.361-22.7,49.35,4.495,8.239,16.8,14.676,34.1,16.855,9.562,1.2,41.245,3.585,41.245,3.585s-26.161,7.039-35.831,8.431c-29.014,4.176-49.245-4.967-57.062-19.279C7.316,287.853,15.531,264.3,42.1,233.542c44.871-51.937,110.154-89.43,157.019-111.735,10.888-5.183,21.265-9.794,30.861-13.846Z" fill="#ea6a6a"/><path d="M335.785,90.785q5.042-5.167,3.838-9.875-1.972-4.441-9.127-5.381a31.134,31.134,0,0,0-14.4,1.577L300.84,82.395,263.107,51.488a2.076,2.076,0,0,0-2.177-.42l-12.2,4.229a2.214,2.214,0,0,0-1.419,1.455,2.408,2.408,0,0,0,.344,2.072l23.922,33.723-24.687,8.565-10.806-9.446a1.487,1.487,0,0,0-.481-.31,2.231,2.231,0,0,0-1.757-.139l-9.178,3.238a2.41,2.41,0,0,0-1.355,1.323,2.13,2.13,0,0,0,.115,1.88l10.293,19.976,4.288,22.062a2.54,2.54,0,0,0,1.134,1.58l.131.064a2.22,2.22,0,0,0,1.753.137l9.15-3.17a2.181,2.181,0,0,0,1.481-1.743l2.635-14.1,24.691-8.562,2.092,41.3a1.97,1.97,0,0,0,.852,1.682,1.582,1.582,0,0,0,.419.283,2.014,2.014,0,0,0,1.4.205l11.211-2.176a2.174,2.174,0,0,0,1.8-1.746l11.4-49.658L323.5,98.464a31.171,31.171,0,0,0,12.287-7.679Zm0,0" fill="#ea6a6a"/><path d="M424.239,290.622V279.587c-8.123,9.2-16.245,13.026-28.2,13.026-24.828,0-42.759-18.544-42.759-44.139,0-25.9,18.084-44.752,43.219-44.752,12.261,0,20.69,3.985,27.74,13.334V205.716h18.7v84.905Zm-25.594-68.2c-14.56,0-24.828,11.034-24.828,26.514,0,14.866,10.269,24.981,25.135,24.981,15.479,0,24.675-11.035,24.675-25.135C423.626,233.3,413.2,222.421,398.645,222.421Z" fill="#ea6a6a"/><path d="M458.106,290.622V205.716H478.49v84.905Zm.153-97.166V173.072h20.383v20.384Z" fill="#ea6a6a"/><path d="M575.958,318.974H554.042l15.939-36.322-31.112-76.936h23.3l18.851,55.02,20.537-55.02H625Z" fill="#ea6a6a"/><path d="M683.236,292.614c-12.567,0-20.69-3.524-29.426-12.874v10.882h-18.7V177.363H655.5v36.169c7.816-7.815,15.326-10.881,26.36-10.881,24.369,0,42.76,19.311,42.76,44.905S707.145,292.614,683.236,292.614Zm-4.292-71.266c-14.253,0-24.674,10.882-24.674,26.208,0,15.479,10.421,26.36,25.134,26.36,14.56,0,24.675-10.729,24.675-26.208C704.08,232.537,693.5,221.348,678.945,221.348Z" fill="#ea6a6a"/><path d="M803.542,290.622V279.587c-8.122,9.2-16.245,13.026-28.2,13.026-24.828,0-42.76-18.544-42.76-44.139,0-25.9,18.085-44.752,43.22-44.752,12.26,0,20.689,3.985,27.739,13.334V205.716h18.7v84.905Zm-25.594-68.2c-14.56,0-24.828,11.034-24.828,26.514,0,14.866,10.269,24.981,25.134,24.981,15.479,0,24.675-11.035,24.675-25.135C802.929,233.3,792.508,222.421,777.948,222.421Z" fill="#ea6a6a"/><path d="M867.14,318.974H845.224l15.939-36.322-31.111-76.936h23.295l18.851,55.02,20.537-55.02h23.448Z" fill="#ea6a6a"/><path d="M514.64,225.663v64.958H494.258V205.716h18.7v8.275" fill="#ea6a6a"/><path d="M532.913,226.235l2.258-19.811c-9.821,1.619-20.489,3.582-31.759,5.96-3.526.745-4.927,1.548-8.656,2.4l.374,20.2c5.828-1.4,6.541-2.665,11.906-3.8C516.081,229.275,524.752,227.639,532.913,226.235Z" fill="#ea6a6a"/></svg>

    <!--<div class="info-ribbon-container">
      <div class="info-ribbon">
        <%=lang.lInfoRibbon%>
      </div>
    </div>-->
    <div class="select-title">
      find your fellow traveler</div>
    <div class="input-range-wrapper">
      <div class="input-title">Age</div>
      <input name="ageFrom" class="age-input from-age">
      <div class="dash"></div>
      <input name="ageTo" class="age-input to-age">
    </div>
    <div id="ageSlider" class="slider-ui"></div>
    <!--<div class="status-check">
      <div class="status-check-title">
        Gender:
      </div>
      male
      <div class="check-container">
        <input name="male" value="2" type="checkbox" id="lookMale_pick_modal">
        <label for="lookMale_pick_modal">
          <i class="ico check-img"></i>
        </label>
      </div>
      female
      <div class="check-container">
        <input name="female" value="1" type="checkbox" id="lookFemale_pick_modal">
        <label for="lookFemale_pick_modal">
          <i class="ico check-img"></i>
        </label>
      </div>
    </div>-->
    <div class="select-gender true-select-gender">
      <div class="gender-container active">
        <svg xmlns="http://www.w3.org/2000/svg" width="25.69" height="33" viewBox="0 0 25.69 33"><title>in-female</title><path d="M25.1,31.186a13.549,13.549,0,0,0-7.421-6.751V22.479c1.6-.088,4.611-.494,6.378-2.3a.922.922,0,0,0,.23-.873.912.912,0,0,0-.637-.643c-.027-.007-2.356-.806-1.889-5.573a20.706,20.706,0,0,0-.095-5.43,8.261,8.261,0,0,0-1.8-4.2,4.816,4.816,0,0,0-3.724-1.6h-.176A5.683,5.683,0,0,0,12.2.5a7.76,7.76,0,0,0-2.8.555l-.041.014A6.939,6.939,0,0,0,6,3.473c-1.388,1.842-2.052,4.57-1.971,8.1s-.5,5.275-1,6.108c-.413.684-.806.819-.907.846a.832.832,0,0,0-.8.447.924.924,0,0,0,.088.989,4.816,4.816,0,0,0,1.7,1.374,11.205,11.205,0,0,0,4.868,1.185v1.862A13.612,13.612,0,0,0,.59,31.193.909.909,0,0,0,1.409,32.5H24.282a.912.912,0,0,0,.772-.426.938.938,0,0,0,.047-.887Z" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
        She
      </div>
      <div class="gender-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.837" height="33" viewBox="0 0 28.837 33"><title>in-male</title><path d="M8.93,21.255v2.1A15.347,15.347,0,0,0,.6,31.027,1.025,1.025,0,0,0,1.525,32.5H27.313a1.028,1.028,0,0,0,.87-.481,1.057,1.057,0,0,0,.053-1h0a15.276,15.276,0,0,0-8.367-7.611V21.2l0-1.422c.261-.581,1.763-1.214,1.927-1.9.953-.343,1.475-1.743,1.825-2.98.469-1.646.417-2.8-.134-3.442.581-3.166.321-5.5-.767-6.936a3.413,3.413,0,0,0-1.691-1.214,6.243,6.243,0,0,0-2.064-1.8A7.344,7.344,0,0,0,15.155.5c-.253,0-.506.015-.73.03A6.99,6.99,0,0,0,12.57.88c-.008,0-.015.008-.023.008a8.252,8.252,0,0,0-1.959,1A10.345,10.345,0,0,0,8.629,3.51a8.148,8.148,0,0,0-2.19,3.852,7.243,7.243,0,0,0-.075,3.457,1.727,1.727,0,0,0-.358.343c-.514.678-.536,1.743-.082,3.36a5.253,5.253,0,0,0,1.438,2.771A11.177,11.177,0,0,0,8.93,20.2Z" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
        He
      </div>
    </div>

    <div class="select-gender want-lives">
      <div class="gender-container active">
        <svg xmlns="http://www.w3.org/2000/svg" width="36.072" height="33" viewBox="0 0 36.072 33"><title>in-want-to-visit</title><path d="M34.349,12.476A3.153,3.153,0,0,0,35.5,9.508,3.156,3.156,0,0,0,32.76,7.89a9.357,9.357,0,0,0-4.329.474L23.847,9.954,12.508.666a.624.624,0,0,0-.654-.126L8.187,1.81a.665.665,0,0,0-.426.437.724.724,0,0,0,.1.623l7.189,10.135L7.634,15.579,4.387,12.74a.447.447,0,0,0-.145-.093.67.67,0,0,0-.528-.042l-2.758.973a.724.724,0,0,0-.407.4.64.64,0,0,0,.034.565l3.093,6,1.289,6.63a.763.763,0,0,0,.341.475l.039.019a.667.667,0,0,0,.527.041l2.75-.953a.655.655,0,0,0,.445-.524l.792-4.239,7.42-2.573.629,12.411a.592.592,0,0,0,.256.506.475.475,0,0,0,.126.085.605.605,0,0,0,.421.062l3.369-.654a.653.653,0,0,0,.54-.525l3.425-14.924,4.612-1.6a9.368,9.368,0,0,0,3.693-2.308Zm0,0" fill="none" stroke="#2c3a48" stroke-linecap="round" stroke-linejoin="round"/></svg>
        Want to visit
      </div>
      <div class="gender-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.574" height="33" viewBox="0 0 28.574 33"><title>in-lives-in</title><path d="M14.64,14.555h-.326v.167h.076s0,.038.012.083l.2-.019.125-.076.034-.155.163-.016.061-.132-.148-.031-.129,0Zm0,0" fill="#666" stroke="#373737" stroke-miterlimit="10"/><path d="M13.852,14.851l.239-.019.022-.167-.144-.11-.1.133Zm0,0" fill="#666" stroke="#373737" stroke-miterlimit="10"/><path d="M4.06,15.655a12.26,12.26,0,0,0-.827,4.423,12.422,12.422,0,0,0,24.495,2.911c.057-.246.107-.489.152-.738a12.41,12.41,0,0,0,.193-2.173c0-.042,0-.083,0-.125h0c0-.364-.022-.724-.057-1.08a12.268,12.268,0,0,0-.822-3.381l-.091-.239a12.565,12.565,0,0,0-2.331-3.6c-.065-.069-.129-.133-.194-.2-.185-.19-.371-.376-.568-.554a12.362,12.362,0,0,0-8.355-3.24,12.038,12.038,0,0,0-1.342.08" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.775,27.266a12.705,12.705,0,0,0,1.953-4.277c.065-.245.107-.489.152-.738a12.41,12.41,0,0,0,.193-2.173c0-.042,0-.083,0-.125h0c0-.364-.022-.724-.057-1.08a12.268,12.268,0,0,0-.822-3.381l-.091-.239a12.565,12.565,0,0,0-2.331-3.6c-.065-.069-.129-.133-.194-.2-.185-.19-.371-.376-.568-.554l-.827.63-.137.243-.527.209-.219.239.05.28.273.038.163.41.466-.19.08.546h-.14l-.387-.053-.424.069-.413.583-.587.1-.087.5.25.061-.073.326-.587-.117-.539.117-.11.3.091.629.314.148.531,0,.356-.034.11-.284.553-.724.372.076.36-.326.069.254.887.6-.107.148-.4-.023.156.22.246.052.288-.121,0-.348.129-.06-.1-.111-.6-.333-.155-.441h.493l.155.156.429.367.015.443.44.471.167-.644.3-.167.056.527.3.326.591-.012c.117.3.22.6.312.906l-.065.056h-.909l-.554-.412-.583.056v.356H24.29l-.2-.144-1.008-.254v-.652l-1.281.1-.394.213H20.9l-.25-.027-.617.345v.64l-1.259.909.106.391h.254l-.068.372-.179.064-.008.967,1.088,1.243h.475l.03-.076h.849l.246-.227h.485l.265.265.72.076-.1.956.8,1.41-.421.807.027.378.333.33v.914l.437.583v.759h1.655Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.968,22.159l-1.005-.008-.8-.3-.038-.569-.265-.467-.721-.012-.416-.651-.368-.179-.019.2-.671.042-.246-.345-.7-.141-.579.668-.91-.156-.064-1.023L9.5,19.1l.266-.5-.076-.292-.872.584-.549-.069-.2-.428.121-.443.3-.557.694-.353h1.346l0,.413.485.224-.042-.7.348-.348.706-.463.049-.326.7-.728.747-.413-.065-.052.5-.478.185.049.083.107.193-.213.046-.019-.212-.03-.213-.068v-.209l.114-.091h.25l.114.05.1.2.121-.016v-.018l.034.012.348-.053.049-.175.2.049v.185l-.186.129.027.2.633.2v.008L16,14.45l.007-.278-.5-.227-.027-.133.417-.14.016-.4L15.477,13l-.026-.671-.6.3h-.216l.057-.512-.815-.193-.334.254v.773l-.607.193-.239.5-.261.042v-.644l-.569-.08-.284-.185-.114-.417,1.015-.595.5-.151.049.337.277-.018.023-.167.287-.042.008-.057-.125-.052-.03-.179.356-.03.216-.224.012-.015h0l.064-.069.75-.09.33.28-.868.462,1.1.262.145-.372h.485l.171-.322-.342-.083v-.41l-1.072-.474-.739.087-.413.215.026.531-.436-.064-.068-.3.42-.379-.5-.022c-.087.129-.193.247-.288.372l-.053.265-.163.012a8.43,8.43,0,0,1-1.9,1.721c-.08.125-.163.262-.25.4l.115.027-.1.364-.292.091-.008-.019c-.617,1.034-1.262,2.172-1.5,2.608l-.656,1.182-.876,1.573.073.115,1,.246v-.163l.4.057-.038.284.311.057.485.132.683.777.871.065.083.712-.595.417-.031.633-.083.39.861,1.081.065.367s.314.087.352.087.7.5.7.5v1.952l.235.068-.159.9.4.531-.076.891.527.925.674.587.678.016.069-.22-.5-.416.03-.209.087-.258.019-.258-.338-.011-.171-.213.28-.273.038-.2-.311-.091.018-.189.443-.069.679-.326.227-.416.712-.906-.163-.712.22-.379.652.019.44-.349.144-1.372.489-.617.083-.4-.443-.144Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.289,12.016l-.178-.076A5.963,5.963,0,0,1,6.117.508C6.236.5,6.355.5,6.469.5A5.961,5.961,0,0,1,9.326,11.691l-.194.109L9,11.991c-.609.91-1.435,2.311-2.019,3.331A35.318,35.318,0,0,0,4.42,12.16Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.538,6.349A3.075,3.075,0,1,1,6.465,3.272,3.074,3.074,0,0,1,9.538,6.349Z" fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round"/></svg>
        Lives in
      </div>
    </div>

    <p class="title-for-tags">
      Popular places
    </p>
    <div class="tag-place-container">
      <div class="tag-place">Thailand</div>
      <div class="tag-place">Egypt</div>
      <div class="tag-place">USA</div>
      <div class="tag-place">Poland</div>
    </div>

    <div class="wtv-container country-old" style="padding: 0 10px;">
      <select name="country" class="chosen-select">
        <option value="0">Places...</option>
        <option value="1">text</option>
      </select>
    </div>
    <div class="tag-place-container">
      <div class="tag-place">Thailand</div>
      <div class="tag-place">Egypt</div>
      <div class="tag-place">USA</div>
      <div class="tag-place">Poland</div>
      <div class="tag-place">Thailand</div>
      <div class="tag-place">Egypt</div>
      <div class="tag-place">USA</div>
      <div class="tag-place">Poland</div>
      <div class="tag-place">Egypt</div>
      <div class="tag-place">USA</div>
      <div class="tag-place">Poland</div>
    </div>

    <!--<div class="status-check">
      <div class="status-check-title">Location</div>
      <select name="residence" class="one-option-select chosen-select-residence-pick">
        <option class="one-option-item" value="">&#45;&#45; Choose &#45;&#45;</option>
        <% city.forEach(function(row){ %>
        <option class="one-option-item" value="<%= row.paramId %>"><%= row.paramName %></option>
        <% }); %>
      </select>
    </div>-->

    <!--<div class="status-check">
      <div class="status-check-title">
        <%=lang.lCheckOnlyOnline%>
      </div>
      <div class="check-container">
        <input name="online" value="1" type="checkbox" id="isOnline_pick_modal">
        <label for="isOnline_pick_modal">
          <i class="ico check-img"></i>
        </label>
      </div>
    </div>-->
    <button class="search-button">Search</button>
    <!--<a href="#" class="login-link">Log in</a>
    <div class="vert-divider"></div>
    <a href="#" class="registration-link">Sign up</a>-->
  </div>
</div>

<%- include('footer-info') %>

<%- include('footer') %>