<%- include('../header') %>
<%- include('sidemenu-admin') %>
<div class="emails center-content page-users" style="margin-top: 50px">
    <div class="emails-outer-wrapper">
		<div class="emails-header">
            <a href="/models/add" class="from">Add new user</a>
        </div>
        <div class="emails-inner-wrapper">
            <div class="models-filter-wrapper">
                <span class="id-filter active" data-sort="id">ID</span>
                <span class="on-air-filter" data-sort="on-air">On air</span>
                <span class="status-filter" data-sort="active">Approval</span>
            </div>
            <ul class="emails-wrapper">
				<% users.forEach(function(row){ %>
                <li class="single-email">
					<a class="single-cell" href="/models/<% if (section == 'users' || section == 'models') { %>edit/<%}%><%= row.userId %>">
                        <p class="user-id">ID: <span><%= row.userId %></span></p>
						<figure class="user-avatar" title=""><img src="<%= row.userPhoto %>" alt="user" class="" style="max-width: 100%;"></figure>
						<div class="user-nickname"><%= row.userNickname %><%= (row.userFrom) ? " [" + row.userFrom + "]" : "" %></div>
                        <div class="preferences">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17">
                                <path fill="#22416d" d="M15.76 15.5l-3.94-4.22c1-1.24 1.57-2.8 1.57-4.4
                                0-3.8-3.02-6.88-6.7-6.88C3 0 0 3.08 0 6.87c0 3.78 3 6.86 6.7 6.86 1.38 0 2.7-.43
                                3.83-1.24l3.97 4.23c.17.18.4.27.63.27.23 0 .44-.1.6-.25.36-.34.37-.9.03-1.26zM6.7
                                1.8c2.72 0 4.94 2.27 4.94 5.07 0 2.8-2.22 5.07-4.95 5.07S1.74 9.66 1.74 6.87c0-2.8
                                2.22-5.08 4.94-5.08zm0 0"/>
                            </svg>
                            <span>Ж <%= row.ageSearch %></span>
                        </div>
                        <div class="last-active">
                            <div class="online-status <% if (row.userLastActive == 'online') { %> online <% } else { %> offline <% } %>><%= row.paramEn %>"><%= row.userLastActive %></div>
                        </div>
                        <div class="register-date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1000 1000">
                                <path fill="#22416d" d="M684.8 378.7h139v139H685v-139zM684.8 549.2h139v139H685V549zM786
                                50.7c0-22.3-18.3-40.7-40.6-40.7H738c-22.2 0-40.6 18.4-40.6 40.7V128H786V50.6zM515.2
                                375h139v139h-139V375zM309 50.7c0-22.3-18.4-40.7-41-40.7h-7c-22.4 0-40.8 18.4-40.8
                                40.7V128H309V50.6zM345.5 377h138.8v139H345.5V377zM172 722.6h138.8v139H172v-139zM175.6
                                551h139v139h-139V551z"/>
                                <path fill="#22416d" d="M851.8 128H786v85.7c0 22.3-18.4 40.7-40.7 40.7H738c-22.3
                                0-40.7-18.4-40.7-40.7V128H309v85.7c0 22.3-18.4 40.7-41 40.7h-7c-22.4
                                0-40.8-18.4-40.8-40.7V128h-72c-43.5 0-79 35.4-79 79v704c0 43.4 35.5 79 79
                                79h526L931 729V207c-.2-43.6-35.6-79-79.2-79zm40.7 605l-155-.6c-43.6-.3-70.8
                                28.5-70.5 71.8l.8 147h-522c-19.7 0-40.4-13-40.4-36.4V288.3l787-.3v445z"/>
                                <path fill="#22416d" d="M345.5 547.2h138.8v139.2H345.5V547.2zM175.6 380.5h139v139h-139v-139zM515.2
                                545.3h139v139h-139v-139zM341.6 719h139v139h-139V719z"/>
                            </svg>
                            <span><%= row.userRegister %></span>
                        </div>
                        <div class="coins-amount"><% if(userRole == 100 || section != 'clients'){%>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25">
                                <ellipse transform="translate(-.02 .02)" fill="#F8DC4A" cx="12.5" cy="12.5" rx="12.5" ry="12.5"/>
                                <g opacity=".28">
                                    <path fill="#FFF" d="M21.1 3.4l-18.3 17c.3.3.5.6.8.9L22 4.3l-.9-.9zM24.3
                                    8.3c-.4-1-.8-1.9-1.4-2.8L4.8 22.3c.8.6 1.7 1.2 2.6 1.6L24.3 8.3zM.7 16.5c.4 1.1.9
                                    2 1.5 2.9L20.3 2.7c-.9-.7-1.8-1.3-2.8-1.7L.7 16.5z"/>
                                </g>
                                <path fill="#F2C341" d="M12.8 24.2c-.2 0-.2-.4 0-.4h.4c.2 0 .3.3 0 .4h-.4zm-1 0s-.1 0
                                0 0h-.4c-.2 0-.2-.4 0-.4h.4c.2 0 .2.4 0 .4zm2.5-.2c-.2 0-.2-.3 0-.4.1 0 .2 0 .3-.1.2
                                0 .3.3.1.4-.2.1-.3.1-.4.1zm-4 0c-.1 0-.3 0-.4-.1-.2 0-.2-.4.1-.4.1 0 .2 0 .3.1.2.1.2.4
                                0 .4zm5.4-.3s-.1 0 0 0c-.2-.1-.2-.3-.1-.4.1 0 .2-.1.3-.1.2-.1.3.3.1.3 0
                                .1-.2.2-.3.2zm-6.8-.1c-.1 0-.3-.1-.4-.1-.2-.1-.1-.4.1-.3.1 0 .2.1.3.1.1 0
                                .2.2.1.3h-.1zm8.1-.4c-.2 0-.2-.3-.1-.3s.2-.1.3-.1c.2-.1.4.2.2.3-.1 0-.2.1-.4.1zm-9.4-.1c-.1
                                0-.3-.1-.4-.2-.2-.1 0-.4.2-.3.1.1.2.1.3.2.1 0 .1.3-.1.3zm10.7-.5c-.2
                                0-.2-.3-.1-.3.1-.1.2-.1.3-.2.2-.1.4.2.2.3-.1 0-.2.2-.4.2zm-12-.2c-.1 0-.3-.2-.4-.2-.2-.1
                                0-.4.2-.3.1.1.2.1.3.2.2 0 .1.3-.1.3.1 0 0 0 0 0zm13.2-.6c-.1
                                0-.2-.1-.2-.2s.2-.2.3-.3c.2-.1.4.1.2.3 0 0-.2.2-.3.2zm-14.3-.2c-.1 0-.3-.2-.4-.3-.2-.2
                                0-.4.2-.3.1.1.2.2.3.2.1.1 0 .3-.1.4zm15.4-.8s-.1
                                0-.1-.1c-.2-.2.1-.4.2-.5.2-.2.4.1.3.2-.1.2-.3.4-.4.4zm-16.5-.2c-.2
                                0-.3-.2-.4-.3-.1-.2.2-.5.3-.3.1.1.2.2.2.3.1.1.1.3-.1.3zm17.4-.9c-.1
                                0-.2-.1-.2-.2s.2-.3.2-.4c.1-.2.4 0 .3.2-.1.1-.1.2-.2.3 0 .1 0 .1-.1.1zm-18.3-.2c-.1 0-.1
                                0-.1-.1-.1-.1-.1-.2-.2-.3-.1-.2.2-.4.3-.2.1.1.1.2.2.3 0 .1-.1.3-.2.3zm19.1-1c-.4 0 0-.5
                                0-.6.1-.2.4 0 .3.2 0 .2-.1.4-.3.4zm-19.9-.2c-.1 0-.1
                                0-.2-.1s-.1-.2-.2-.3c-.1-.2.2-.4.3-.2.1.1.1.2.2.3.1.1.1.3-.1.3zm20.6-1c-.1 0-.1
                                0-.2-.1-.1-.2.1-.3.1-.5.1-.2.4-.1.3.1 0 .2 0 .5-.2.5zm-21.2-.4c-.1 0-.1 0-.2-.1
                                0-.1-.1-.2-.1-.3-.1-.2.3-.3.3-.1 0 .1.1.2.1.3.1.1 0 .2-.1.2zm21.7-1c-.3
                                0-.1-.4-.1-.6.1-.2.4-.1.3.1 0 .2 0 .5-.2.5zm-22.1-.3c-.1 0-.1 0-.2-.1
                                0-.1-.1-.2-.1-.4s.3-.3.4-.1c0 .1.1.2.1.3 0 .2-.1.3-.2.3zm22.4-1.1c-.3 0-.1-.4-.1-.6
                                0-.2.4-.2.4 0-.1.3-.1.6-.3.6zm-22.7-.3c-.1 0-.2 0-.2-.2v-.4c0-.2.3-.3.4 0v.4c0
                                .1-.1.2-.2.2zm22.8-1.1c-.2 0-.2-.2-.2-.3 0-.1 0-.3.1-.4.1-.1.2-.1.2 0 .2.1.1.4.1.6 0
                                0-.1.1-.2.1zM1 12.7c-.3 0-.2-.4-.2-.5 0-.2.4-.2.4 0v.3c0 .1-.1.2-.2.2zm22.9-1.1c-.2
                                0-.2-.3-.2-.5s.3-.3.4 0v.4s-.1.1-.2.1zm-22.8-.3c-.3 0-.2-.4-.1-.6
                                0-.1.1-.2.2-.2s.2.1.2.2v.4c-.1.1-.2.2-.3.2zm22.5-1.1c-.2 0-.2-.3-.3-.5-.1-.2.3-.3.3-.1
                                0 .1.1.2.1.4.2.1 0 .2-.1.2zM1.4 9.9c-.1 0-.1 0 0 0-.1
                                0-.2-.1-.2-.2s.1-.2.1-.4c.1-.2.4-.1.3.1 0 .1-.1.2-.1.3 0 .1-.1.2-.1.2zm21.8-1.1c-.2
                                0-.2-.3-.3-.4-.1-.2.2-.3.3-.1 0 .1.1.2.1.3.2.1.1.2-.1.2zM1.8 8.5c-.1
                                0-.2-.1-.2-.2s.1-.2.1-.3c.1-.2.4-.1.3.1.1.1 0 .2 0 .3-.1.1-.1.1-.2.1zm20.9-1c-.2
                                0-.3-.3-.3-.4-.1-.2.2-.4.3-.2.1.1.1.2.2.3 0 .1-.1.3-.2.3zM2.4 7.2c-.1
                                0-.2-.1-.2-.3.1-.1.1-.2.2-.3.1-.2.4 0 .3.2 0 .1-.1.2-.1.3-.1.1-.1.1-.2.1zm19.5-1c-.2
                                0-.3-.3-.4-.4-.1-.2.2-.4.3-.2.1.2.2.3.3.4.1.1 0 .2-.2.2zM3.2 6c-.1
                                0-.3-.2-.2-.3.1-.1.1-.2.2-.3.1-.2.4 0 .3.2 0 .1-.1.2-.2.3 0 .1-.1.1-.1.1zM21 5.1c-.2
                                0-.3-.2-.4-.3-.2-.2.1-.4.3-.2.1.1.2.2.2.3.2 0 .1.1-.1.2.1 0 .1 0 0 0zM4.1 4.9c-.1
                                0-.2-.1-.2-.2s.2-.3.3-.4c.2-.2.4.1.3.3-.1.1-.2.1-.3.2 0 .1-.1.1-.1.1zM20
                                4.1h-.1c-.1-.1-.2-.2-.3-.2-.2-.1 0-.4.2-.3.2 0 .2.1.3.2.2.1.1.3-.1.3zM5.1 3.9c-.1
                                0-.2-.2-.1-.3.1-.1.2-.2.3-.2.2-.1.4.1.2.3-.1 0-.2.2-.4.2zm13.8-.7c-.1
                                0-.3-.2-.4-.2-.2-.1 0-.4.2-.3.1.1.2.1.3.2.1.1 0 .3-.1.3zM6.3 3c-.2
                                0-.2-.2-.1-.3.1-.1.2-.1.3-.2.2-.1.4.2.2.3-.1.1-.2.2-.4.2zm11.3-.5c-.1
                                0-.3-.1-.4-.2-.2-.1 0-.4.2-.3.1.1.2.1.3.2.2 0 .1.3-.1.3zm-10-.2c-.1 0-.1 0 0 0-.2
                                0-.3-.2-.1-.3.1 0 .2-.1.3-.1.2-.1.4.2.2.3-.2 0-.3.2-.4.1zm8.7-.4c-.1
                                0-.3-.1-.4-.1-.2-.1-.1-.4.1-.3.1 0 .2.1.3.1.3 0 .2.3 0 .3zm-7.4-.1c-.2
                                0-.2-.3-.1-.3s.2-.1.3-.1c.2-.1.3.3.1.3 0 0-.2.1-.3.1zm6-.3c-.1 0-.3-.1-.4-.1-.2
                                0-.2-.4.1-.4.1 0 .2 0 .4.1s.1.4-.1.4zm-4.6 0c-.2 0-.3-.3 0-.4.1 0 .2 0 .4-.1.2 0
                                .3.3.1.4-.2 0-.4.1-.5.1zm3.2-.2h-.4c-.2 0-.2-.4 0-.4h.4c.2.1.2.4 0 .4zm-1.8 0c-.2
                                0-.2-.3 0-.4h.4c.2 0 .2.4 0 .4h-.4z"/>
                                <circle fill="#C99204" cx="12.5" cy="12.5" r="10.5"/>
                                <circle fill="#DEA004" cx="12.5" cy="12.5" r="10"/>
                                <g opacity=".16">
                                    <path fill="#FFF" d="M2.7 14.6c.3 1.2.7 2.2 1.3 3.2L18.4 4.4c-.9-.7-1.9-1.2-3-1.5L2.7
                                    14.6zM19.3 5.1L4.7 18.7c.3.3.5.6.8.9L20.2 6l-.9-.9zM22.2 10.1c-.2-1-.7-2-1.2-2.9L6.6
                                    20.6c.8.6 1.8 1.1 2.8 1.4l12.8-11.9z"/>
                                </g>
                                <g fill="#C99204">
                                    <path d="M9.4 11.4c-.6-1.2-.9-2.1-.9-2.9 0-.8.3-1.6.9-2.2l.1-.1c0
                                    .1-.2.2-.3.3-.6.6-.9 1.4-.9 2.2 0 .8.3 1.7.8 2.9.1-.1.2-.1.3-.2zM15.3
                                    19c-.6-.3-1.1-.7-1.6-1.1 0
                                    0-.7.5-.8.6-.3.2-.6.3-.9.5-1.6.7-3.5.6-4.8-.7-1.4-1.4-1.5-3.7-.2-5.2.1-.2.3-.3.5-.5-.7.6-1.3
                                    1.3-1.5 2.1-.4 1.3 0 2.8 1 3.7 1.6 1.6 4.1 1.3 5.8.1.2-.1.4-.3.6-.5.4.4.8.7 1.3 1
                                    .5.3 1 .5 1.5.5.6 0 1.2-.2 1.6-.6-.8.7-1.7.5-2.5.1zM12.5 6.8c.3.4.5.8.5 1.4 0 .6-.2
                                    1.1-.5 1.5l-.3.3c.2-.2.4-.4.6-.5.3-.4.5-.9.5-1.5s-.1-1-.4-1.3c-.3-.3-.7-.5-1.1-.5-.4
                                    0-.8.2-1.1.4.2-.2.5-.2.8-.2.3-.1.7.1 1 .4zM17.8 17.7s-.1 0 0 0
                                    .2-.1.3-.2c.2-.3.4-.7.5-1.3h-.2c-.2.7-.4 1.2-.6 1.5z"/>
                                    <path d="M9.5 12.3c.8 1.4 1.5 2.5 1.9 3.2.5.7 1 1.4 1.6
                                    2.1.1-.1.2-.1.3-.2-.6-.7-1.1-1.4-1.6-2.1-.5-.7-1.1-1.7-1.9-3.2-.4.2-.7.4-.9.6.1-.1.3-.2.6-.4zM11.4
                                    11.5c.7-.4 1.3-.7 1.7-1.1-.5.3-1.1.7-1.7 1.1-.1-.1-.1 0 0 0zM18.6 12.2c-.3 0-.6
                                    0-.8.1-.2.1-.3.2-.5.3.1 0 .1-.1.2-.1.2-.1.5-.1.8-.1h.4v-.2h-.1zM15.3 12.7c.2.2.4.5.4.8
                                    0 .7-.4 1.5-1.2 2.6l.1.1c.9-1.2 1.4-2.1 1.4-2.8
                                    0-.3-.1-.6-.4-.8-.2-.2-.6-.3-1.1-.3H14v-.4h-.3v.6h.5c.5-.1.8 0 1.1.2z"/>
                                </g>
                                <path fill="#F8DC4A" d="M18.5 15.9c-.1.5-.2 1.1-.5 1.5-.9 1.1-2.4-.1-3.1-.8.6-.7 1.1-1.7
                                1.6-2.7.2-.4.4-.9.8-1.3s1-.4 1.6-.4v-.6h-5v.6c.6 0 1.4 0 1.8.6.3.5 0 1.2-.2 1.7-.3.5-.6
                                1.2-1.1 1.6-.6-.6-1.1-1.4-1.6-2.1-.1-.2-1.6-2.5-1.6-2.5.9-.4 1.9-.9 2.5-1.7.9-1.1
                                1-2.9-.3-3.8-.5-.4-1.2-.6-1.9-.5-1.3.1-2.6.9-3 2.2-.2.6-.1 1.3 0 2 0 .2.7 1.9.7 1.8-1
                                .3-1.9 1.1-2.5 1.9-.9 1.5-.7 3.6.6 4.9 1.2 1.2 3.1 1.4 4.6.8.5-.2 1.2-.6 1.9-1.1.8.7
                                1.7 1.5 2.8 1.5.7 0 1.5-.4 1.9-1 .5-.7.6-1.6.6-2.5-.2-.1-.4-.1-.6-.1zM12.2
                                10c-.3.2-.7.5-1.2.7-.6-1.1-.9-2.1-.9-2.9 0-.5.2-.9.5-1.3.3-.3.7-.4 1.1-.4.5 0 .8.2
                                1.1.5.3.4.4.8.4 1.4 0 .6-.2 1.1-.5 1.5-.1.2-.3.4-.5.5zm.8 7.6c-.7.5-1.4.7-2 .7-.9
                                0-1.6-.4-2.2-1.2-.6-.8-.9-1.6-.9-2.4 0-.7.3-1.3 1-1.9l.9-.6c.8 1.4 1.5 2.5 1.9 3.2.5.7
                                1 1.4 1.6 2.1-.2-.1-.3 0-.3.1z"/>
                            </svg>
                            <span><%= row.userCash %></span><span>/</span><span><%= row.spentCash %></span>
                        <% }%></div>
                        <div class="messages-amount">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 41 39">
                                <path fill="#22416d" d="M41 17c0-9.4-9.2-17-20.5-17S0 7.6 0 17s8.2 17 19.5 17c1 0
                                2-.2 3-.4C25.8 36.6 33 39 33 39c-2-2.3-3.5-5.6-3.7-6.6C36.3 29.7 41 23.8 41 17zm-29.2
                                2.6c-1.5 0-2.7-1.3-2.7-2.8S10.4 14 12 14c1.5 0 2.7 1.3 2.7 2.8s-1.2 2.8-2.7 2.8zm8.2
                                0c-1.5 0-2.7-1.3-2.7-2.8S18.5 14 20 14c1.5 0 2.8 1.3 2.8 2.8s-1.3 2.8-2.8 2.8zm8
                                0c-1.5 0-2.8-1.3-2.8-2.8S26.5 14 28 14c1.5 0 2.7 1.3 2.7 2.8s-1.2 2.8-2.7 2.8z"/>
                            </svg>
                            <span><%= row.chatCount %></span>
                        </div>
                        <% if(section == 'models'){%><span class="on-air-checkbox<%=(row.modelStream) ? " active": ""%>" data-user-id="<%= row.userId %>">
                            <!--<div class="checkbox-container">
                                <input name="oac" type="checkbox" id="oac">
                                <label for="oac"><i class="check-img"></i></label>
                            </div>-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 20.282 24">
                                    <path d="M16.4,18.945l.008,0c-.142-.146-.28-.273-.421-.411l-.064-.064a10.141,10.141,0,1,0-11.563,0,34.556,34.556,0,0,0-2.969,3.36C0,23.646.951,24.648,2.735,23.51c5.13-3.312,9.717-3.312,14.847,0,1.767,1.155,2.718.136,1.325-1.682C18.026,20.713,17.2,19.767,16.4,18.945ZM10.141,4.366a5.776,5.776,0,1,1-5.776,5.776A5.775,5.775,0,0,1,10.141,4.366Z"></path>
                                    <path d="M10.141,13.777a3.635,3.635,0,1,0-3.635-3.635A3.635,3.635,0,0,0,10.141,13.777Zm0-6.047a2.412,2.412,0,1,1-2.412,2.412A2.412,2.412,0,0,1,10.141,7.729Z"></path>
                                </svg>
                        </span><% }%>
                        <!--<div class="mails-amount">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 43 31">
                                <g fill="#22416d">
                                    <path d="M43 .3V0H0s0 .2-.2.2l20.5 17c.3.3.7.8 1 .8.4 0 .7-.4 1-.5"/>
                                    <path d="M.2 31H43v-2.3l-16-13-3.3 2.8c-.5.5-1.3.7-2 .7-1 0-1.7-.2-2.3-.7L16 15.8
                                    0 28.6C0 29 0 31 .2 31zM0 2.6v23.7l14.7-11.7M43 2.7l-14.7 12L43 26.4"/>
                                </g>
                            </svg>
                            <span><%= row.messagesCount %></span>
                        </div>-->
                        <% if(section == 'models'){%><div class="status-confirm"><%=((row.userActive) ? "submitted" : "approval")%></div><% }%>
					</a>
                </li>
				<% }); %>
            </ul>
        </div>
    </div>
</div>

<%- include('../footer') %>